In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from Functions import*

In [2]:
# Load data 
path = 'C:/Users/mina/Projets_CLASSROOMS/P7_Pret_Credit_Conso_VERGE-DEPRE_Thierry/data/'
application = pd.read_csv(path + 'application_train.csv') 
bureau = pd.read_csv(path + 'bureau.csv') 
prev_application = pd.read_csv(path + 'previous_application.csv')
application_test = pd.read_csv(path + 'application_test.csv')

In [3]:
nb_rows = 200

In [4]:
bureau_sample = bureau.head(nb_rows)
#save
bureau_sample.to_csv('bureau_sample_list.csv')

In [5]:
bureau_sample_list = pd.read_csv('bureau_sample_list.csv')
bureau_sample_list.shape

(200, 18)

In [6]:
prev_sample = prev_application.head(nb_rows)
#save
prev_sample.to_csv('prev_sample_list.csv')

In [7]:
prev_sample_list = pd.read_csv('prev_sample_list.csv')
prev_sample_list.shape

(200, 38)

# Cleaning and Feature engineering

## application_train data

In [8]:
application_fe = preprocess_application(application)

C:\Users\mina\Projets_CLASSROOMS\P7_Pret_Credit_Conso_VERGE-DEPRE_Thierry\Functions.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  application['DAYS_EMPLOYED_ANOM'] = application["DAYS_EMPLOYED"] == 365243
C:\Users\mina\anaconda3_env\lib\site-packages\pandas\core\series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [9]:
application_fe.shape

(307507, 84)

In [10]:
application_fe.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CREDIT_GOODS_RATIO,CREDIT_GOODS_DIFF,CREDIT_TERM,DAYS_EMPLOYED_RATIO,FLAG_CONTACTS_SUM,CNT_NON_CHILDREN,CHILDREN_INCOME_RATIO,PER_CAPITA_INCOME,FLAG_REGIONS,SUM_FLAGS_DOCUMENTS
0,100002,1,Cash loans,M,0,1,0,202500.0,406597.5,24700.5,...,1.158397,55597.50001,16.461104,0.067329,4,1.0,0.0,101250.0,0,1
1,100003,0,Cash loans,F,0,0,0,270000.0,1293502.5,35698.5,...,1.145199,164002.50001,36.234085,0.070862,4,2.0,0.0,90000.0,0,1
2,100004,0,Revolving loans,M,1,1,0,67500.0,135000.0,6750.0,...,1.000000,0.00001,20.000000,0.011814,5,1.0,0.0,33750.0,0,0
3,100006,0,Cash loans,F,0,1,0,135000.0,312682.5,29686.5,...,1.052803,15682.50001,10.532818,0.159905,3,2.0,0.0,45000.0,0,1
4,100007,0,Cash loans,M,0,1,0,121500.0,513000.0,21865.5,...,1.000000,0.00001,23.461618,0.152418,3,1.0,0.0,60750.0,2,1

In [11]:
# save
application_fe.to_csv('application_fe.csv')

In [12]:
application_test_sample = application_fe.head(nb_rows)
application_test_sample.shape

(200, 84)

In [13]:
# save sample
application_test_sample.to_csv('application_test_sample.csv')

## bureau data

In [14]:
bureau_fe = preprocess_bureau(bureau)

In [15]:
bureau_fe.shape

(305811, 13)

In [16]:
bureau_fe.head()

,BUREAU_COUNT,BUREAU_TYPES_COUNT,BUREAU_ACTIVE_LOANS_PCT,BUREAU_PAST_DUE_LOANS_PCT,BUREAU_TOTAL_DEBT,BUREAU_TOTAL_CREDIT,BUREAU_TOTAL_OVERDUE,BUREAU_CREDIT_PROL_AVG,BUREAU_OVERDUE_COUNT,BUREAU_DAYS_DIFF_AVG,BUREAU_AVG_TYPES_COUNT,BUREAU_RATIO_DEBT_CREDIT,BUREAU_RATIO_OVERDUE_DEBT
SK_ID_CURR,,,,,,,,,,,,,
100001,7,1,0.428571,0.0,596686.5,1453365.000,0.0,0.0,0,217.571429,7.0,0.410555,0.0
100002,8,2,0.250000,0.0,245781.0,865055.565,0.0,0.0,0,166.750000,4.0,0.284122,0.0
100003,4,2,0.250000,0.0,0.0,1017400.500,0.0,0.0,0,495.000000,2.0,0.000000,0.0
100004,2,1,0.000000,0.0,0.0,189037.800,0.0,0.0,0,459.000000,2.0,0.000000,0.0
100005,3,2,0.666667,0.0,568408.5,657126.000,0.0,0.0,0,103.666667,1.5,0.864992,0.0

In [17]:
# save
bureau_fe.to_csv('bureau_fe.csv')

In [18]:
bureau_test_fe = bureau_fe.head(nb_rows)
bureau_test_fe.shape

(200, 13)

In [19]:
# save sample
bureau_test_fe.to_csv('bureau_test_fe.csv')

## previous_application data

In [20]:
prev_application_fe = preprocess_prevapp(prev_application)

In [21]:
prev_application_fe.shape

(338857, 18)

In [22]:
prev_application_fe.head()

,PREVAPP_SK_ID_PREV_COUNT,PREVAPP_AMT_ANNUITY_LAST,PREVAPP_AMT_APPLICATION_LAST,PREVAPP_AMT_CREDIT_LAST,PREVAPP_AMT_DOWN_PAYMENT_LAST,PREVAPP_AMT_GOODS_PRICE_LAST,PREVAPP_FLAG_LAST_APPL_PER_CONTRACT_LAST,PREVAPP_DAYS_FIRST_DUE_LAST,PREVAPP_DAYS_LAST_DUE_1ST_VERSION_LAST,PREVAPP_DAYS_LAST_DUE_LAST,PREVAPP_AMT_DECLINED_LAST,PREVAPP_AMT_CREDIT_GOODS_RATIO_LAST,PREVAPP_AMT_CREDIT_GOODS_DIFF_LAST,PREVAPP_AMT_CREDIT_APPLICATION_RATIO_LAST,PREVAPP_CREDIT_DOWNPAYMENT_RATIO_LAST,PREVAPP_GOOD_DOWNPAYMET_RATIO_LAST,PREVAPP_ANNUITY_LAST,PREVAPP_ANNUITY_GOODS_LAST
SK_ID_CURR,,,,,,,,,,,,,,,,,,
100001,1,3951.000,24835.5,23787.0,2520.0,24835.5,1,-1709.0,-1499.0,-1619.0,1048.5,0.957782,-1048.5,1.044079,0.105940,0.101468,2973.371283,3104.433619
100002,1,9251.775,179055.0,179055.0,0.0,179055.0,1,-565.0,125.0,-25.0,0.0,1.000000,0.0,1.000000,0.000000,0.000000,7460.621891,7460.621891
100003,3,6737.310,68809.5,68053.5,6885.0,68809.5,1,-2310.0,-1980.0,-1980.0,756.0,0.989013,-756.0,1.011109,0.101170,0.100059,5671.120274,5734.120222
100004,1,5357.250,24282.0,20106.0,4860.0,24282.0,1,-784.0,-694.0,-724.0,4176.0,0.828021,-4176.0,1.207699,0.241719,0.200148,5026.487434,6070.484824
100005,2,4813.200,44617.5,40153.5,4464.0,44617.5,1,-706.0,-376.0,-466.0,4464.0,0.899950,-4464.0,1.111173,0.111173,0.100050,3346.122212,3718.121902

In [23]:
application_sample = application.head(20)
client_list = application_sample['SK_ID_CURR'].tolist()

prev_list = prev_sample_list.head(nb_rows)
prev_sampled = prev_list[prev_list['SK_ID_CURR'].isin(client_list)]
prev_sampled

Empty DataFrame
Columns: [Unnamed: 0, SK_ID_PREV, SK_ID_CURR, NAME_CONTRACT_TYPE, AMT_ANNUITY, AMT_APPLICATION, AMT_CREDIT, AMT_DOWN_PAYMENT, AMT_GOODS_PRICE, WEEKDAY_APPR_PROCESS_START, HOUR_APPR_PROCESS_START, FLAG_LAST_APPL_PER_CONTRACT, NFLAG_LAST_APPL_IN_DAY, RATE_DOWN_PAYMENT, RATE_INTEREST_PRIMARY, RATE_INTEREST_PRIVILEGED, NAME_CASH_LOAN_PURPOSE, NAME_CONTRACT_STATUS, DAYS_DECISION, NAME_PAYMENT_TYPE, CODE_REJECT_REASON, NAME_TYPE_SUITE, NAME_CLIENT_TYPE, NAME_GOODS_CATEGORY, NAME_PORTFOLIO, NAME_PRODUCT_TYPE, CHANNEL_TYPE, SELLERPLACE_AREA, NAME_SELLER_INDUSTRY, CNT_PAYMENT, NAME_YIELD_GROUP, PRODUCT_COMBINATION, DAYS_FIRST_DRAWING, DAYS_FIRST_DUE, DAYS_LAST_DUE_1ST_VERSION, DAYS_LAST_DUE, DAYS_TERMINATION, NFLAG_INSURED_ON_APPROVAL]
Index: []

[0 rows x 38 columns]

In [24]:
# save
prev_application_fe.to_csv('previous_application_fe.csv')

In [25]:
prev_application_test_fe = prev_application_fe.head(nb_rows)
prev_application_test_fe.shape

(200, 18)

In [26]:
# save sample
prev_application_test_fe.to_csv('prev_application_test_fe.csv')

# Merge & Preprocess final data

In [27]:
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import PowerTransformer
from sklearn.pipeline import Pipeline
import pickle

In [28]:
data = merge_data(application_fe, bureau_fe, prev_application_fe)

In [29]:
data.shape

(307507, 115)

In [30]:
data_sample = data.head(nb_rows)
data_sample.shape

(200, 115)

In [31]:
data_sample.head(2)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,PREVAPP_DAYS_LAST_DUE_1ST_VERSION_LAST,PREVAPP_DAYS_LAST_DUE_LAST,PREVAPP_AMT_DECLINED_LAST,PREVAPP_AMT_CREDIT_GOODS_RATIO_LAST,PREVAPP_AMT_CREDIT_GOODS_DIFF_LAST,PREVAPP_AMT_CREDIT_APPLICATION_RATIO_LAST,PREVAPP_CREDIT_DOWNPAYMENT_RATIO_LAST,PREVAPP_GOOD_DOWNPAYMET_RATIO_LAST,PREVAPP_ANNUITY_LAST,PREVAPP_ANNUITY_GOODS_LAST
0,100002,1,Cash loans,M,0,1,0,202500.0,406597.5,24700.5,...,125.0,-25.0,0.0,1.000000,0.0,1.000000,0.00000,0.000000,7460.621891,7460.621891
1,100003,0,Cash loans,F,0,0,0,270000.0,1293502.5,35698.5,...,-1980.0,-1980.0,756.0,0.989013,-756.0,1.011109,0.10117,0.100059,5671.120274,5734.120222

In [32]:
data_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Columns: 115 entries, SK_ID_CURR to PREVAPP_ANNUITY_GOODS_LAST
dtypes: bool(1), float64(64), int64(42), object(8)
memory usage: 179.9+ KB

In [33]:
data_sample.to_csv('data_sample.csv')

In [34]:
#data_sample.drop(['FLAG_DOCUMENT_15'], axis=1, inplace=True)

In [35]:
data=data_sample

In [36]:
# Prepare preprocessing for numerical variables
categorical_var = [col for col in data.columns if data.dtypes[col] == 'object']
numerical_var = [col for col in data.columns if (col not in categorical_var) and (col != 'TARGET') and (col != 'SK_ID_CURR')]

pp_num_pipeline = Pipeline([
            ('imp_med', SimpleImputer(missing_values=np.nan, strategy='median')),
            ('scaler', StandardScaler()),
            ('transformer',PowerTransformer(method='yeo-johnson') )
                        ])

pp_num_pipeline.fit(data[numerical_var])

C:\Users\mina\anaconda3_env\lib\site-packages\sklearn\preprocessing\_data.py:2995: RuntimeWarning: divide by zero encountered in log
  loglike = -n_samples / 2 * np.log(x_trans.var())

Pipeline(steps=[('imp_med', SimpleImputer(strategy='median')),
                ('scaler', StandardScaler()),
                ('transformer', PowerTransformer())])

In [37]:
# save pipeline for numerical variables preprocessing
pickle.dump(pp_num_pipeline, open('preprocess_numerical.pkl','wb'))

In [38]:
data_pp = preprocessing_data(data)

In [39]:
data_pp.shape

(200, 35)

In [40]:
data_pp.head()

,DAYS_BIRTH,INCOME_ANNUITY_DIFF,PREVAPP_AMT_ANNUITY_LAST,ANNUITY_INCOME_RATIO,FLAG_EMP_PHONE,BUREAU_TOTAL_DEBT,REGION_POPULATION_RELATIVE,REG_CITY_NOT_LIVE_CITY,REGION_RATING_CLIENT_W_CITY,PREVAPP_AMT_CREDIT_GOODS_DIFF_LAST,...,FLAG_DOCUMENT_3,BUREAU_DAYS_DIFF_AVG,DAYS_ID_PUBLISH,BUREAU_ACTIVE_LOANS_PCT,PREVAPP_DAYS_LAST_DUE_1ST_VERSION_LAST,NAME_INCOME_TYPE_Working,BUREAU_TOTAL_CREDIT,CREDIT_TERM,PREVAPP_SK_ID_PREV_COUNT,CODE_GENDER_F
0,1.628112,0.820688,-0.258173,-0.600394,0.403473,0.029527,0.063933,-0.252646,-0.014904,-0.216157,...,0.631349,-0.148467,0.521082,-0.358135,-0.213533,1,-0.035846,-0.700227,-1.531288,0
1,-0.294252,1.319203,-0.725233,-0.435443,0.403473,-1.066183,-1.828162,-0.252646,-2.290149,-0.254715,...,0.631349,1.282137,1.572018,-0.358135,-0.528144,0,0.160956,1.797081,-0.377204,1
2,-0.801425,-1.378685,-1.016469,-0.976307,0.403473,-1.066183,-0.918708,-0.252646,-0.014904,-0.436631,...,-1.583910,1.174958,0.263312,-1.492935,-0.332776,1,-1.201716,-0.167322,-1.531288,0
3,-0.792610,-0.274706,1.520386,0.684347,0.403473,-0.212143,-1.185053,-0.252646,-0.014904,2.954022,...,0.631349,0.004670,0.323243,-0.037647,-0.262556,1,-0.055975,-1.671453,1.229691,1
4,-0.989672,-0.396683,1.086273,0.238933,0.403473,-1.066183,0.817679,-0.252646,-0.014904,0.366246,...,-1.583910,-1.561578,-0.365519,-1.492935,-0.340481,1,-1.293101,0.309164,0.680770,0

data_pp.columns

data_pp.info()

cols = ['DAYS_BIRTH', 'INCOME_ANNUITY_DIFF', 'PREVAPP_AMT_ANNUITY_LAST',
       'ANNUITY_INCOME_RATIO', 'FLAG_EMP_PHONE', 'BUREAU_TOTAL_DEBT',
       'REGION_POPULATION_RELATIVE', 'REG_CITY_NOT_LIVE_CITY', 'CODE_GENDER_F',
       'REGION_RATING_CLIENT_W_CITY', 'PREVAPP_AMT_CREDIT_GOODS_DIFF_LAST',
       'REG_CITY_NOT_WORK_CITY', 'BUREAU_RATIO_DEBT_CREDIT',
       'DAYS_LAST_PHONE_CHANGE', 'EXT_SOURCE_1',
       'CREDIT_GOODS_RATIO', 'BUREAU_COUNT', 'NAME_EDUCATION_TYPE',
       'OCCUPATION_TYPE_Laborers', 'AMT_GOODS_PRICE', 'OCCUPATION_TYPE_XNA',
       'EXT_SOURCE_2', 'DAYS_EMPLOYED_RATIO', 'PREVAPP_AMT_DECLINED_LAST',
       'DAYS_REGISTRATION', 'PREVAPP_ANNUITY_GOODS_LAST', 'FLAG_DOCUMENT_3',
       'BUREAU_DAYS_DIFF_AVG', 'DAYS_ID_PUBLISH', 'BUREAU_ACTIVE_LOANS_PCT',
       'PREVAPP_DAYS_LAST_DUE_1ST_VERSION_LAST', 'NAME_INCOME_TYPE_Working',
       'BUREAU_TOTAL_CREDIT', 'CREDIT_TERM']

#colonnes enlevÃ©es
'CODE_GENDER_F'
'OCCUPATION_TYPE_Laborers'
'NAME_INCOME_TYPE_Working'

In [41]:
# drop
# synthaxe : df.drop(['column_nameA', 'column_nameB'], axis=1, inplace=True)
# 'CODE_GENDER_F','OCCUPATION_TYPE_Laborers','NAME_INCOME_TYPE_Working'
#data_pp.drop(['OCCUPATION_TYPE_Laborers'], axis=1, inplace=True)

In [42]:
data_pp.shape

(200, 35)

In [43]:
# save
data_pp.to_csv('data_pp.csv')

In [44]:
# Select variables and filter data for dashboard
selected_features = ['DAYS_BIRTH', 'INCOME_ANNUITY_DIFF', 'PREVAPP_AMT_ANNUITY_LAST',
       'ANNUITY_INCOME_RATIO', 'FLAG_EMP_PHONE', 'BUREAU_TOTAL_DEBT',
       'REGION_POPULATION_RELATIVE', 'REG_CITY_NOT_LIVE_CITY',
       'REGION_RATING_CLIENT_W_CITY', 'PREVAPP_AMT_CREDIT_GOODS_DIFF_LAST',
       'REG_CITY_NOT_WORK_CITY', 'BUREAU_RATIO_DEBT_CREDIT',
       'DAYS_LAST_PHONE_CHANGE', 'EXT_SOURCE_1','PREVAPP_SK_ID_PREV_COUNT',
       'CREDIT_GOODS_RATIO', 'BUREAU_COUNT', 'NAME_EDUCATION_TYPE','AMT_GOODS_PRICE',
       'EXT_SOURCE_2', 'DAYS_EMPLOYED_RATIO', 'PREVAPP_AMT_DECLINED_LAST',
       'DAYS_REGISTRATION', 'PREVAPP_ANNUITY_GOODS_LAST', 'FLAG_DOCUMENT_3',
       'BUREAU_DAYS_DIFF_AVG', 'DAYS_ID_PUBLISH', 'BUREAU_ACTIVE_LOANS_PCT',
       'PREVAPP_DAYS_LAST_DUE_1ST_VERSION_LAST',
       'BUREAU_TOTAL_CREDIT', 'CREDIT_TERM']

#non retirÃ©
# 'PREVAPP_SK_ID_PREV_COUNT',

#data_selection = data[['TARGET'] + selected_features]
data_selection_init = data[['TARGET'] + selected_features]

In [45]:
data_selection_init.shape

(200, 32)

In [46]:
data_selection_sample = data_selection_init.head(nb_rows)
data_selection_sample.shape

(200, 32)

In [47]:
data_selection = data_selection_sample

In [48]:
# save
data_selection.to_csv('data_compare_clients.csv')

In [49]:
data['TARGET']

0      1
1      0
2      0
3      0
4      0
      ..
195    0
196    0
197    0
198    0
199    0
Name: TARGET, Length: 200, dtype: int64

# Fit and save final model

In [50]:
import lightgbm as lgbm

In [51]:
# final model tuned with Pycaret
model_lgbm = lgbm.LGBMClassifier(bagging_fraction=0.7, bagging_freq=6, boosting_type='gbdt',
               class_weight='balanced', colsample_bytree=1.0,
               feature_fraction=0.5, importance_type='split', learning_rate=0.1,
               max_depth=-1, min_child_samples=66, min_child_weight=0.001,
               min_split_gain=0.4, n_estimators=90, n_jobs=-1, num_leaves=90,
               objective=None, random_state=123, reg_alpha=0.0005,
               reg_lambda=0.1, silent=True, subsample=1.0,
               subsample_for_bin=200000, subsample_freq=0)

In [52]:
model_lgbm.fit(data_pp, data['TARGET'])

[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6

LGBMClassifier(bagging_fraction=0.7, bagging_freq=6, class_weight='balanced',
               feature_fraction=0.5, min_child_samples=66, min_split_gain=0.4,
               n_estimators=90, num_leaves=90, random_state=123,
               reg_alpha=0.0005, reg_lambda=0.1)

In [53]:
# save preprocessing
pickle.dump(model_lgbm, open('lgbm_model.pkl','wb'))